body{
    background: rgb(203, 213, 216);
    margin: 0;
    padding: 0;
    height: 150px;
}
img{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 50px;
}